annotated-types
anyio
api
asttokens
attrs
backcall
certifi
charset-normalizer
clarabel
click
colorama
comm
contourpy
cvxopt
cvxpy
cycler
debugpy
decorator
ecos
et-xmlfile
executing
fancyimpute
fastapi
fonttools
h11
idna
iniconfig
ipykernel
ipython
jedi
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
knnimpute
matplotlib
matplotlib-inline
nest-asyncio
nltk
nose
numpy
openpyxl
osqp
packaging
pandas
parso
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
psutil
pure-eval
pybind11
pydantic
pydantic_core
Pygments
PyMySQL
pyparsing
pytest
python-dateutil
pytz
pyzmq
qdldl
referencing
regex
requests
scikit-learn
scipy
scs
seaborn
six
sniffio
stack-data
starlette
textblob
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
